main {
    width: 70%;
    margin: 0 auto;
}

.main__crumb {
    color: #CE9473;
    text-decoration: none;
}

.main__crumb--curent {
    color: #5D3030;
    text-decoration: none;
}

.main__heading {
    color: #5D3030;
    font-size: 40px;
}

.main__toggler {
    border-bottom: #e09366 1px solid;
    padding: 20px;
}

.main__button {
    font-size: 16px;
    border: none;
    background: none;
    color: #CE9473;;
    transition: 0.3s;
    cursor: pointer;
}

.main__button:hover {
    color: #db6b6b;
}

.main__button--active {
    color: #5D3030;
}

.main__button--active:hover {
    color: #794545;
}

.delivery--hidden {
    display: none;
}

.container {
    border: 1px solid #5D3030;
    border-radius: 20px;
    margin-top: 25px;
}

.container--standart {
    border-radius: 20px 20px 0 0;
}

.container__heading {
    border-bottom: 1px #5D3030 solid;
    padding: 20px;
    margin: 0;
    border-radius: 20px;
    background-color: #FFF3C0;
    color: #5D3030;
}

.container__content {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.container__content--column {
    flex-direction: column;
}

.container__text-wrapper {
    width: 45%;
}

.container__text {
    font-size: 16px;
    
    line-height: 30px;
    color: #5D3030;
}

.container__list {
    padding: 0;
    list-style-type: none;
    list-style: #5D3030;
    counter-reset: cnt;
}

.container__list--column {
    width: 60%;
    margin-left: 35px;
}

.container__item {
    margin-bottom: 40px;
    counter-increment: cnt;

}

.container__item::before {
    content: counter(cnt);
    background-color: #FFF3C0;  
    float: left;
    margin-left: -35px;
    border: 1px solid #CE9473;
    border-radius: 5px;
    width: 25px;
    height: 20px;
    text-align: center;
    padding-top: 4px;
}

.table__wrapper {
    margin-top: 25px;
    width: 100%;
    border: 1px solid #5D3030;
    border-radius: 0 0 20px 20px;
}

.delivery__table {
    font-size: 20px;
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #5D3030;
}

td {
    min-height: 90px;
    padding: 20px;
    border-right: 1px solid #5D3030;
}

.top {
    background-color: #FFF3C0;
    border-radius: 20px;
}

.last {
    border: none;
}

.delivery__footnote {
    color: #793B3B;
    font-size: 16px;
}

.pickup__map {
    margin-top: 20px;
}

.pickup {
    animation-duration:  0.7s;
    animation-name: sliden;
}

.delivery {
    animation-duration: 0.7s;
    animation-name: sliden;
}

@keyframes sliden {
    from {
        transform: translate(-20px);
        opacity: 0%;
    }

    to{
        transform: translate(0);
        opacity: 100%;
    }
}

.pickup--hidden {
    display: none;
}